html, body{
	width:100%;
	height:100%;
	background-color:#000000;
}
#lginBanner{
   position: relative;
   left: 0;
   width: 100%;
}
.full{
   position: relative;
   left: 0;
   width: 100%;
}
#lginForm{
   margin-left: auto;
   margin-right: auto;
}
#lginBtn{
	width:15em;
}
#inputForm{
   margin-left: auto;
   margin-right: auto;
}
#searches{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}
#results{
   width: 80%;
   margin-left: auto;
   margin-right: auto;

}
.button:hover, button:focus, .button:hover, .button:focus{
	background-color:#777777;
}
.small-1{
	min-width: 67px;
}
button, .button{
	background-color:#555555;
}